/.docker/.env
/.make/.env
!.docker/.env.dist
!.make/.env.dist

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.cache
.phpunit.result.cache
coverage.xml
###< phpunit/phpunit ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpspec/phpspec ###
/phpspec.yml
###< phpspec/phpspec ###
